In [1]:
# Import Libraries
import datetime
import pandas as pd
from datetime import date, timedelta
import plotly.graph_objects as go
import plotly.express as px
import plotly.io as pio
pio.templates.default = 'plotly_white'

In [17]:
# Import a dataset
control_data = pd.read_csv('control_group.csv', sep=';')
test_data = pd.read_csv('test_group.csv', sep=';')

In [26]:
control_data.head()

,Campaign Name,Date,Amount Spent,Number of Impressions,Number of unique,Website Clicks,Searches Received,Content Viewed,Added to Cart,Purchases
0,Control Campaign,1.08.2019,2280,82702.000000,56930.000000,7016.000000,2290.000000,2159.000000,1819.0,618.000000
1,Control Campaign,2.08.2019,1757,121040.000000,102513.000000,8110.000000,2033.000000,1841.000000,1219.0,511.000000
2,Control Campaign,3.08.2019,2343,131711.000000,110862.000000,6508.000000,1737.000000,1549.000000,1134.0,372.000000
3,Control Campaign,4.08.2019,1940,72878.000000,61235.000000,3065.000000,1042.000000,982.000000,1183.0,340.000000
4,Control Campaign,5.08.2019,1835,109559.758621,88844.931034,5320.793103,2221.310345,1943.793103,1300.0,522.793103

In [27]:
test_data.head()

,Campaign Name,Date,Amount Spent,Number of Impressions,Number of unique,Website Clicks,Searches Received,Content Viewed,Added to Cart,Purchases
0,Test Campaign,1.08.2019,3008,39550,35820,3038,1946,1069,894,255
1,Test Campaign,2.08.2019,2542,100719,91236,4657,2359,1548,879,677
2,Test Campaign,3.08.2019,2365,70263,45198,7885,2572,2367,1268,578
3,Test Campaign,4.08.2019,2710,78451,25937,4216,2216,1437,566,340
4,Test Campaign,5.08.2019,2297,114295,95138,5863,2106,858,956,768

In [4]:
# Number of columns
control_data.columns

Index(['Campaign Name', 'Date', 'Spend [USD]', '# of Impressions', 'Reach',
       '# of Website Clicks', '# of Searches', '# of View Content',
       '# of Add to Cart', '# of Purchase'],
      dtype='object')

In [18]:
# Dealing with columns names
control_data.columns = ["Campaign Name", "Date", "Amount Spent", 
                        "Number of Impressions", "Number of unique", "Website Clicks", 
                        "Searches Received", "Content Viewed", "Added to Cart",
                        "Purchases"]

test_data.columns = ["Campaign Name", "Date", "Amount Spent", 
                        "Number of Impressions", "Number of unique", "Website Clicks", 
                        "Searches Received", "Content Viewed", "Added to Cart",
                        "Purchases"]

In [19]:
# Shape
print(control_data.shape)
print(test_data.shape)

(30, 10)
(30, 10)

In [21]:
# Checking Null values of control data
control_data.isna().sum()

Campaign Name            0
Date                     0
Amount Spent             0
Number of Impressions    1
Number of unique         1
Website Clicks           1
Searches Received        1
Content Viewed           1
Added to Cart            1
Purchases                1
dtype: int64

In [22]:
# Checking Null values of test data
test_data.isna().sum()

Campaign Name            0
Date                     0
Amount Spent             0
Number of Impressions    0
Number of unique         0
Website Clicks           0
Searches Received        0
Content Viewed           0
Added to Cart            0
Purchases                0
dtype: int64

In [23]:
control_data['Number of Impressions'].fillna(value=control_data['Number of Impressions'].mean(), 
                                                inplace=True)
control_data['Number of unique'].fillna(value=control_data['Number of unique'].mean(), 
                                                inplace=True)
control_data['Website Clicks'].fillna(value=control_data['Website Clicks'].mean(), 
                                                inplace=True)
control_data['Searches Received'].fillna(value=control_data['Searches Received'].mean(), 
                                                inplace=True)
control_data['Content Viewed'].fillna(value=control_data['Content Viewed'].mean(), 
                                                inplace=True)
control_data['Added to Cart'].fillna(value=control_data['Added to Cart'].mean(), 
                                                inplace=True)
control_data['Purchases'].fillna(value=control_data['Purchases'].mean(), 
                                                inplace=True)

In [25]:
# Checking for null values of control data
control_data.isna().sum()

Campaign Name            0
Date                     0
Amount Spent             0
Number of Impressions    0
Number of unique         0
Website Clicks           0
Searches Received        0
Content Viewed           0
Added to Cart            0
Purchases                0
dtype: int64